/** --------------------------------------------------
  * Reset
  * -------------------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset, img {
	border: 0pt none;
}

address, caption, cite, code, dfn, th, var {
	font-style: normal;
	font-weight: normal;
}

ol, ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}

caption, th {
	text-align: left;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;	/* This eliminates margin. */
}

a {
	outline: none;
}

/** --------------------------------------------------
  * Hacks
  * -------------------------------------------------- */
.clearfix:after {   /* fixes FF (applies background color regardless of height of left content or sidebar) */
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix { display: inline-block; }

/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

/** --------------------------------------------------
  * Fonts.
  * -------------------------------------------------- */
@font-face {
	font-family: "Chunk";
	src: url(/plugins/font/chunk/Chunk.ttf);
}

@font-face {
	font-family: "Tex";
	src: url(/plugins/font/texgyreheros/texgyreheros-regular.otf);
}

@font-face {
	font-family: "Tex-bold";
	src: url(/plugins/font/texgyreheros/texgyreheros-bold.otf);
}

/** --------------------------------------------------
  * Global
  * -------------------------------------------------- */
body, p, h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, "Segoe UI", Arial, Verdana;
	font-size-adjust: 0.525;
	letter-spacing: 0.02em;
}

body.main {
	background: transparent url(/images/bg-main.v2.png) repeat 0 0;
}

p {
	font-size: 14px;
	line-height: 1.2em;
}

strong.ss {
	font-family: "Monaco", monospace;
	font-weight: normal;
	text-transform: uppercase;
}

a.red {
	color: #910024;
	text-decoration: none;
	text-transform: uppercase;
}

	a.red.prev span {
		padding-left: 15px;
		background: transparent url(/images/bg-prev_red.png) no-repeat 0 0;
	}

a.redbox {
	display: inline-block;
	border: 1px solid #910024;
	padding: 5px 5px 3px;
	color: #910024;
	line-height: 1em;
	text-decoration: none;
	text-transform: uppercase;
}

	a.redbox.prev span {
		padding-left: 15px;
		background: transparent url(/images/bg-prev_red.png) no-repeat 0 0;
	}
	
	a.redbox.next span {
		padding-right: 15px;
		background: transparent url(/images/bg-next_red.png) no-repeat right 0;
	}

a.icon.email {
	padding: 0 0 0 21px;
	background: transparent url(/images/icon-email.png) no-repeat 0 center;
}

/** --------------------------------------------------
  * Wrapper for detail pages.
  * -------------------------------------------------- */
div#ss_wrapper {
	position: relative;
	margin: 0 auto;
	width: 980px;
	z-index: 2;
}

#curtain {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 999;
}

#teaser {
	position: relative;
	margin: 0 auto;
	width: 950px;
	height: 500px;
	background: transparent url(/images/bg-teaser.png) no-repeat 0 0;
	text-align: center;
}

	#teaser img {
		display: none;		/* Toggled by JS. */
		margin-top: 340px;
	}
	
	#teaser p {
		display: none;		/* Toggled by JS. */
		position: absolute;
		top: 370px;
		left: 0;
		width: 100%;
		font-size: 12px;
		text-transform: uppercase;
	}
	
	#teaser .social_box {
		display: none;
	}
	
	#teaser iframe {
		position: absolute;
		top: 420px;
	}
	
	#teaser iframe.twitter-share-button {
		left: 375px;
	}
	
	#teaser iframe.fblike {
		left: 495px;
	}

div#ss_header {
	margin: 0 auto 20px;
	width: 970px;
}

	div#ss_header div#logo a {
		float: right;
		border: 1px solid #efefef;
		border-top: none;
		padding: 15px 10px 10px;
		background-color: #fff;
	}

div#ss_body {
	margin: 0 auto;
	width: 950px;
}

div#ss_body.index {
	margin-bottom: 20px;
	width: 970px;
}
	
	div#ss_body.index h1,
	div#ss_body.index p {
		margin-bottom: 2px;
	}
	
	div#ss_body.index h1 {
		font-size: 20px;
	}
	
	div#ss_body.index p {
		line-height: 1.5em;
	}

		div#ss_body h1 span,
		div#ss_body p span {
			display: inline-block;
			background-color: #fff;
			color: #888;
		}
		
		div#ss_body h1 span {
			padding: 8px 10px 3px;
			color: #555;
			font-family: 'Chunk', Helvetica, "Segoe UI", Arial, Verdana, sans-serif;
			font-weight: normal;
		}
		
		div#ss_body p span {
			padding: 3px 10px;
		}

div#ss_body.detail {
	margin: 0 auto 50px;
	padding: 30px 20px 20px;
	width: 930px;	/* Target: 970px. */
	background-color: #fff;
	box-shadow: 1px 1px 5px #bfbfbf;
	-moz-box-shadow: 1px 1px 5px #bfbfbf;
	-webkit-box-shadow: 1px 1px 5px #bfbfbf;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#bfbfbf,direction=120,strength=2)";		/* IE8+. */  
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#bfbfbf,direction=120,strength=2); 			/* IE7 and lower. */  
}

	div#ss_body .detail_l {
		float: left;
		width: 575px;
	}
	
	div#ss_body .detail_r {
		float: left;
		margin: 8px 0 0 30px;
		width: 300px;
	}

div.detail_box {
	margin: 0 0 27px;
	color: #666;
}

	div.detail_box h2,
	div.detail_box p,
	div.detail_box ul {
		margin: 0 0 9px;
		border-bottom: 1px solid #efefef;
		padding: 0 0 9px;
	}

	div.detail_box h2 {
		color: #777;
		font: normal 16px/1em 'Chunk', Helvetica, "Segoe UI", Arial, Verdana, sans-serif;
	}
	
	div.detail_box p {
		font-size: 13px;
		line-height: 1.4em;
	}
	
	div.detail_box ul li {
		font-size: 13px;
		margin: 0 0 8px;
	}
	
	div.detail_box ul li.last {
		margin: 0;
	}
	
	div.detail_box a,
	div.detail_box a:active,
	div.detail_box a:link,
	div.detail_box a:visited {
		padding: 0 17px 0 0;
		background: transparent url(/images/external_link.gif) no-repeat right 0;
		color: #666;
		text-decoration: none;
	}
	
	div.detail_box a:hover {
		color: #999;
	}
	
div.detail_box2_w {
	float: left;
	padding: 0 30px 0 0;
	width: 257.5px;	/* Target: 287.5px. */
	color: #666;
}

	div.detail_box2 {
		margin: 0 0 25px;
	}
	
	div.detail_box2 h3 {
		margin: 0 0 8px;
		font-size: 13px;
		font-weight: normal;
		line-height: 1.2em;
		text-transform: uppercase;
	}
	
	div.detail_box2 p {
		margin: 0 0 15px;
		font-size: 13px;
		line-height: 1.4em;
	}
	
div.detail_footer {
	float: right;
	margin: 100px 0 0;
	width: 325px;
}

	div.detail_footer p {
		font-size: 12px;
		line-height: 1.4em;
		text-align: right;
	}

		div.detail_footer p a {
			color: #666;
			text-decoration: none;
		}
		
		div.detail_footer p a:hover {
			color: #888;
			text-decoration: underline;
		}

	div.detail_footer p.info {
		color: #666;
	}
	
	div.detail_footer p.copyright {
		margin: 6px 0 0;
		border-top: 1px solid #910024;
		padding: 6px 0 0;
		color: #910024;
	}

div#ss_social {
	margin: 20px 0 0;
}

div.ss_social {
	position: relative;
	margin: 0 auto;
	width: 950px;
	height: 25px;
}

	div.ss_social iframe {
		position: absolute;
	}

	div.ss_social iframe.twitter-share-button {
		left: 367px; 
	}
	
	div.ss_social iframe.fblike {
		left: 487px;
	}

div#ss_footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #910024;
}

	div#ss_footer p {
		margin: 0 auto;
		width: 950px;
		color: #fff;
		font-size: 11px;
		line-height: 22px;
		text-align: right;
		text-transform: uppercase;
	}
	
		div#ss_footer p span {
			float: left;
		}
	
	div#ss_footer a {
		padding: 0 2px;
		color: #fff;
		text-decoration: underline;
	}
	
	div#ss_footer a:hover {
		background-color: #fff;
		color: #910024;
		text-decoration: none;
	}
	
div#ss_showcase {
	padding: 25px 0;
	width: 100%;
	background: transparent url(/images/bg-showcase.png) repeat 0 0;
}

div.showcase {
	position: relative;
	margin: 0 auto;
	width: 955px;	/* This is a bit challenging to set the perfect width, due to the drop shadow. */
	height: 260px;
}

	div.showcase div.wrapper {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	
	div.showcase ul {
		width: 3000px;
	}
	
	div.showcase li {
		position: relative;
		float: left;
		display: block;
		margin: 0 29px 0 0;
		padding: 8px;
		background-color: #fff;
		-moz-box-shadow: 1px 1px 2px #bbb;
		-webkit-box-shadow: 1px 1px 2px #bbb;
	}
	
		div.showcase li img.highlight {
			position: absolute;
			top: 8px;
			left: 8px;
		}
	
		div.showcase li div {
			margin: 8px 0 0;		/* = padding of 'div.showcase li' */
			height: 30px;
			text-align: right;
		}
		
			div.showcase li div h3 {
				margin: 0 0 2px;
				color: #555;
				font: bold 12px/1.2em 'Tex-bold', Helvetica, "Segoe UI", Arial, Verdana;
				text-transform: uppercase;
			}
			
			div.showcase li div p {
				margin: 0;
				color: #888;
				font: normal 12px/1.2em 'Tex', Helvetica, "Segoe UI", Arial, Verdana;
			}
			
	div.showcase a.btn {
		position: absolute;
		top: 90px;
		display: block;
		width: 20px;
		height: 20px;
		background: transparent none no-repeat 0 0;
		-moz-box-shadow: 0 1px 3px #888;
		-webkit-box-shadow: 0 1px 3px #888;
		text-decoration: none;
		text-indent: -99999px;
	}
	
	div.showcase a.btn:hover {
		background-position: 0 -20px;
	}
	
	div.showcase a.btn.disabled,
	div.showcase a.btn.disabled:hover {
		background-position: 0 -40px;
		cursor: default;
	}
	
	div.showcase a.btn.prev {
		left: -30px;
		background-image: url(/images/btn-left.sprite.v2.png);
	}
	
	div.showcase a.btn.next {
		right: -30px;
		background-image: url(/images/btn-right.sprite.png);
	}

/** ==================================================
  * Blog
  * ================================================== */
/*
h1.search_result {
	margin: 0 0 10px;
	border: none !important;
	padding: 0 !important;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
}

	h1.search_result span {
		font-weight: normal;
		text-transform: none;
	}
*/

/* This basically mimics the 'a.redbox' global style. */
div.post_nav a {
	display: inline-block;
	border: 1px solid #910024;
	padding: 5px 5px 3px;
	color: #910024;
	font-size: 12px;
	line-height: 1em;
	text-decoration: none;
	text-transform: uppercase;
}

	div.post_nav a span.prev {
		padding-left: 15px;
		background: transparent url(/images/bg-prev_red.png) no-repeat 0 0;
	}
	
	div.post_nav a span.next {
		padding-right: 15px;
		background: transparent url(/images/bg-next_red.png) no-repeat right 0;
	}

div.search_result {
	position: relative;
	margin: 0 0 30px;
}

	div.search_result span.keyword {
		display: block;
		margin: 0 0 0 175px;
		padding-top: 3px;
		font-size: 14px;
		line-height: 1.4em;
	}	

	div.search_result span.label {
		position: absolute;
		border: 1px solid #ccc;
		padding: 4px 5px 2px;
		color: #910024;
		font-size: 14px;
		font-weight: bold;
		line-height: 1em;
		text-transform: uppercase;
	}
	
#blog_nav_box {
	margin: 10px auto 5px;
	width: 950px;
}

	#blog_nav_box a.red {
		font-size: 12px;
	}

#blog_box {
	margin: 0 auto 20px;
	border: 2px solid #910024;
	padding: 50px 100px;
	width: 750px;	/* Target: 950px */
}

div#blog_header {
	text-align: center;
}

/** --------------------------------------------------
  * Blog content
  * -------------------------------------------------- */
div#blog_content {
	padding: 40px 0 80px;
}

	#blog_content a.redbox {
		color: #910024;
		font-size: 12px;
	}
	
	#blog_content a.redbox.prev {
		float: left;
	}
	
	#blog_content a.redbox.next {
		float: right;
	}
	
div.blog_post {
	margin: 20px 0 60px;
}

	.blog_post a,
	.blog_post a:link,
	.blog_post a:visited {
		border-bottom: 1px solid #910024;
		color: #000;
		text-decoration: none;
	}
	
	.blog_post a:hover {
		border-bottom: 1px solid #000;
	}
	
	.blog_post h1 {
		margin: 0 0 10px 0;
		border-bottom: 2px solid #000;
		padding-bottom: 3px;
		font-size: 18px;
		line-height: 1.4em;
	}
	
		.blog_post h1 a,
		.blog_post h1 a:link,
		.blog_post h1 a:visited {
			border: none;
			color: #000;
			text-decoration: none;
		}
	
	.blog_post h2 {
		margin: 0 0 1px;
		font-size: 16px;
		line-height: 1.4em;
	}
	
	.blog_post h3 {
		margin: 0 0 8px;
		font-size: 15px;
		line-height: 1.3em;
	}
	
	.blog_post div.meta_before_post {
		margin: 0 0 25px;
		font-size: 12px;
		line-height: 1em;
		text-transform: uppercase;
	}
	
		.meta_before_post span.date {
			float: left;
			display: inline-block;
			border: 1px solid #ccc;
			padding: 5px 3px 3px;	/* Detail matters: without this difference in padding-top, the text doesn't get wrapped
										perfectly. */
		}
		
		.meta_before_post span.other {
			float: right;
			display: inline-block;
			padding-top: 6px;		/* Detail matters: = border-top + padding-top of 'span.date'. */ 
		}

	.blog_post div.meta_after_post {
		margin: 0 0 40px;
		border-top: 1px dashed #dedede;
		padding: 20px 0 0;
		font-size: 12px;
		text-transform: uppercase;
	}
	
		.meta_after_post .meta_list {
			margin: 0 0 5px;
		}

			.meta_list span {
				float: left;
				padding: 5px 0 0;	/* padding-top = '.meta_list li a' top padding + top border. */
			}
		  
			.meta_list ul {
				margin: 0 0 0 125px;
			}
			
			.meta_list li {
				float: left;
				margin: 0 8px 8px 0;
			}
			
				.meta_list li a,
				.meta_list li a:link,
				.meta_list li a:visited,
				.meta_list li a:hover {
					display: inline-block;
					border: 1px solid #dedede;
					padding: 4px 5px 2px;
					color: #999;
					font-size: 12px;
					line-height: 1em;
					text-decoration: none;
				}
				
				.meta_list li a:hover {
					border-color: #910024;
					color: #910024;
				}
	
/** --------------------------------------------------
  * The content / meat of the blog post
  * -------------------------------------------------- */
.siku_gist {
	margin: 0 0 40px;
}

	.siku_gist p {
		margin: 0 0 15px;
		font-size: 14px;
		line-height: 1.4em;
	}

	/* Container for an image w/ a caption. */
	.siku_gist div.wp-caption {
		margin: 25px auto;
		border: 1px solid #dedede;
		text-align: center;
	}
	
	.siku_gist p.wp-caption-text {
		margin: 0 30px;
		padding: 8px 10px;
		font-size: 12px;
	}
	
	.siku_gist code {
		padding: 0 2px;
		background-color: #efefef;
		font: normal 11px/1.3em "Monaco", monospace;
	}
	
	.siku_gist code.url {
		background-color: #fff;
	}
	
	.siku_gist pre {
		margin: 20px 0;
		border: 1px solid #dedede;
		border-left: 1px solid #000;
		padding: 5px 8px;
		background-color: #fff;
		font: normal 11px/1.5em "Monaco", monospace;
		white-space: pre-wrap; 		/* CSS 3 */
		white-space: -moz-pre-wrap !important;	/* Mozilla, since 1999 */
		white-space: -pre-wrap; 	/* Opera 4-6 */
		white-space: -o-pre-wrap; 	/* Opera 7 */
		word-wrap: break-word; 		/* Internet Explorer 5.5+ */
	}
	
	
	.siku_gist ol,
	.siku_gist ul {
		font-size: 14px;
		line-height: 1.4em;
	}
	
	.siku_gist ol {
		margin-left: 55px;
		list-style: decimal;
	}
	
		.siku_gist ol li,
		.siku_gist ul li {
			margin: 0 0 10px;
		}
		
		.siku_gist ul li {
			margin-left: 35px;
			padding: 0 0 0 20px;
			background: transparent url(/images/bullet.png) no-repeat 0 5px;
		}
	
/** --------------------------------------------------
  * Blog search form
  * -------------------------------------------------- */
form#searchform div {
	position: relative;
}

form#searchform input#searchsubmit {
	position: absolute;
	top: 5px;
	right: 5px;
	border: 1px solid #910024;
	padding: 3px 5px 1px;
	height: ;
	background: none;
	background-color: #910024;
	color: #fff;
	font: normal 12px/1em Helvetica, "Segoe UI", Arial, Verdana;
	font-size-adjust: 0.525;
	letter-spacing: 0.02em;
}

form#searchform input#s {
	margin: 0 0 5px;
	border: 1px solid #910024;
	padding: 7px 85px 5px 5px;
	width: 168px;	/* Target = 260px, inc. +2px (border) + 83px (padding). */
	height: 17px;	/* +2px (border) + 12px (padding) = 31px. */
	color: #555;
	font: normal 13px/1em Helvetica, "Segoe UI", Arial, Verdana;
	font-size-adjust: 0.525;
	letter-spacing: 0.02em;
}

/** --------------------------------------------------
  * Blog footer
  * -------------------------------------------------- */
div#blog_footer {
	border-top: 20px solid #910024;
}

	div#blog_footer a,
	div#blog_footer a:link,
	div#blog_footer a:visited
	div#blog_footer a:hover {
		border-bottom: 1px solid #000;
		color: #000;
		text-decoration: none;
	}

div#bf_left {
	position: relative;
	margin: 50px 0 0;
}

	#bf_left p {
		margin: 0 310px 15px 0;
		font-size: 13px;
		line-height: 1.6em;
	}
	
	#bf_left p.label {
		margin-bottom: 2px;
		font-weight: bold;
		line-height: 1.2em;
		text-transform: uppercase;
	}
	
		#bf_left p a {
			text-transform: uppercase;
		}
		
		/* This is to space out the '/'. */
		#bf_left p span {
			margin: 0 5px;
		}

	#bf_left div#search {
		position: absolute;
		top: 0;
		right: 0;
		width: 260px;	/* Max. is 310px, which is = the right margin of '#bf_left p'. */	
	}
	
		#bf_left #search p {
			margin: 0;
			font-size: 11px;
		}

	#bf_left p#copyright {
		position: absolute;
		right: 0;
		bottom: 0;
		margin: 0;
		width: 260px;
		font-size: 11px;
		font-weight: bold;
	}

div.slideshow {
	margin: 0 0 40px;
	width: 572px;
}

	div.slideshow .pic {
		position: relative;
		margin: 0 0 10px;
		border: 1px solid #efefef;
		padding: 10px;
		width: 550px;
		height: 360px;
		background-color: #fff;
	}
	
		div.slideshow .pic img {
			display: none;		/* Default state. */
		}
		
		div.slideshow .highlight {
			position: absolute;
			top: 10px;
			left: 10px;
			width: 550px;
			height: 360px;
			background: transparent url(/images/slideshow-highlight.v8.png) no-repeat 0 0;
		}

	div.slideshow .control {
		float: right;
		width: 160px;
		padding: 0 0 1px;
		padding-bottom/*\**/: 2px\9;	/* IE7 and 8. */
		border-bottom: 1px solid #ddd;
	}
	
		div.slideshow .control a {
			margin: 0 8px 0 0;
			border-bottom: 1px solid #ddd;
			padding: 2px 1px;
			font-size: 12px;
			color: #666;
			text-decoration: none;
		}
		
		div.slideshow .control a:hover {
			background-color: #910024;
			color: #fff;
		}
		
		div.slideshow .control a.selected {
			border-bottom: 1px solid #910024;
			color: #910024;
			font-weight: bold;
		}
		
		div.slideshow .control a.selected:hover {
			color: #910024;
			background-color: transparent;
			cursor: default;
		}
		
		div.slideshow .control a#moss_play {
			float: right;
			display: block;
			margin: 2px 0 0;
			border: none;
			padding: 0;
			width: 13px;
			height: 13px;
			background: transparent url(/images/btn-play.sprite.png) no-repeat 0 0;
		}
		
		div.slideshow .control a#moss_play.playing {
			background-position: 0 -13px;
		}