div.page-width {
  margin: 0 auto;
  width: 900px;
}
body.jobs {
  margin: 30px 0 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
body.jobs h1 {
  margin: 0 0 10px;
  font-family: 'Merriweather', serif;
  font-weight: 300;
}
body.jobs h2 {
  margin: 0 0 3px;
  font-weight: 300;
}
body.jobs ol,
body.jobs ul {
  margin-left: 50px;
}
body.jobs p,
body.jobs li {
  font-size: 16px;
  line-height: 24px;
}
body.jobs p#breadcrumb {
  font-size: 14px;
  line-height: 20px;
}
body.jobs li {
  margin: 0 0 4px;
}
body.jobs div.jobs-section {
  margin: 0 0 15px;
}
body.jobs #footer {
  margin: 50px 0 100px;
  border-top: 1px solid #ccc;
  padding: 10px 0 0;
}
