.clearfix:after {   /* fixes FF (applies background color regardless of height of left content or sidebar) */
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }


/** --------------------------------------------------
  * Presentation only.
  * -------------------------------------------------- */
body {
    margin: 0;
    padding: 0;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.wrapper {
	margin: 25px 0 50px;
	text-align: center;
}

.box {
	margin: 0 auto;
}
/** ----- [end] -------------------------------------- */


.m_0 {
	margin: 0 !important;
}


/** --------------------------------------------------
  * Buttons.
  * -------------------------------------------------- */
a.btn-blue {
	display: inline-block;
	height: 36px;	
	background: transparent url("images/buttonblue.png") no-repeat 0 center;
    color: #fff;
	text-decoration: none;
}

a.btn-blue span {
    display: inline-block;
	margin: 0 0 0 25px;
    padding: 0 25px 0 0;
	height: 36px;
    background: transparent url("images/buttonblueright.png") no-repeat right center;
    font: normal 18px/34px Helvetica Neue, Helvetica, Arial, sans-serif;
}

a.btn-blue.sm {
	height: 24px;
	background-image: url(images/buttonblue2.png);
}

	a.btn-blue.sm span {
		margin-left: 20px;
		padding-right: 20px;
		height: 24px;
		background-image: url(images/buttonblueright2.png);
		font-size: 14px;
		line-height: 22px;
	}
/** ----- [end] -------------------------------------- */


/** --------------------------------------------------
  * FB-like bubble.
  * -------------------------------------------------- */
.box {
    position: relative;
	width: 420px;		/* Default width, target: 420px. */
	font-size: 14px;
}

.box.sm {
    width: 350px;
}

	.box .border1 {
    	position: absolute;
    	top: -10px;
		left: 0;
		padding-bottom: 20px;
    	width: 100%;
    	height: 100%;
    	background-color: #000;
		filter: alpha(opacity=48);
    	opacity: 0.48;
	}
	
	.box .border2 {
    	position: absolute;
    	margin-left: -10px;
    	padding-left: 20px;
		width: 100%;
   		height: 100%;
		background-color: #000;
    	filter: alpha(opacity=48);
    	opacity: 0.48;
    }
	
	.box .topleft {
		position: absolute;
		top: -10px;
		left: -10px;
	    width: 10px;
	    height: 10px;
	    background: transparent url("images/topleft.v2.png") no-repeat 0 0;
	}

	.box .topright {
		position: absolute;
		top: -10px;
		right: -10px;
	    width: 10px;
	    height: 10px;
    	background: transparent url("images/topright.v2.png") no-repeat 0 0;
	}
	
	.box .bottomright {
    	position: absolute;
	    right: -10px;
	    bottom: -10px;
	    width: 10px;
    	height: 10px;
    	background: transparent url("images/bottomright.v2.png") no-repeat 0 0;
	}
	
	.box .bottomleft {
	    position: absolute;
	    bottom: -10px;
        left: -10px;
		width: 10px;
	    height: 10px;
	    background: transparent url("images/bottomleft.v2.png") no-repeat 0 0;
	    background-position: bottom right;
	    background-repeat: no-repeat;
	}

	.box .content {
    	position: relative;
		padding: 15px 20px;
		background-color: #fff;
		height: 100%;
	    text-align: center;
	}
	
		.box .content img.picture {
 	   		margin: 25px 0 20px;
		}
		
		.box .content p,
		.box .content h2 {
			color: #292929;
		}
	
		.box .content p {
			line-height: 1.6em;
		}
		
		.box .content > p {
		    margin: 0 0 30px;
			font: normal 16px/1.6em Helvetica Neue, Helvetica, Arial, sans-serif; 
		}
		
		.box .content div.top {
		    margin: 0 0 10px;
			text-align: left;
		}

			.box .content div.top p {
				margin: 0;
			}

		.box .content div.bottom {
			margin: 15px 0 0;
			border-top: 1px dotted #000;
			padding: 10px 0 0;
			text-align: right;
		}
		
			.box .content div.bottom span.left {
			    float: left;
				margin-top: 6px;
				color: #38a720;
				font-weight: bold;
			}


		.box .content h2 {
		    margin: 0 0 10px;
		    font-size: 16px;
		    font-weight: normal;
		}
		
		.box .content a.close {
			position: absolute;
    		top: 7px;
		    right: 7px;
			display: block;
			width: 15px;
			height: 15px;
			background: transparent url(images/cross.png) no-repeat 0 0;
			text-indent: -999999px;
		}
		
		.box.sm .content a.close {
			width: 10px;
			height: 10px;
			background: transparent url(images/cross.v2.png) no-repeat 0 0;
		}
		
	.box .arrows {
		position: absolute;
		top: -22px;
		left: 30px;
		width: 21px;
		height: 12px;
		background: transparent url("images/arrow.v2.png") no-repeat 0 0;
	}
	
	.box .arrows.center {
		left: 48%;
	}
	
	.box .arrowsside {
    	position: absolute;
    	top: 10%;
    	left: -22px;
    	width: 12px;
    	height: 21px;
    	background: transparent url("images/arrow2.v2.png") no-repeat 0 0;
    }
	
	.box .arrowsside.center {
		top: 40%;
	}
/** ----- [end] -------------------------------------- */