body {
	background-color: #efefef;
}

.page {
	margin: 0 auto;
	width: 1000px;
}

section {
	margin: 0 0 60px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.45);
	padding: 0 0 75px;
	text-align: center;
}

header {
	position: relative;
	display: inline-block;
	margin: 0 0 40px;
	border-right: 13px solid #fff;
	border-bottom: 13px solid #fff;
	padding: 10px 35px 8px;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	font-family: "raleway";
	font-size: 30px;
	font-weight: 100;
	line-height: 1em;
	text-transform: uppercase;
}

header.pink {
	border-right: 13px solid #f1b9ba;
	border-bottom: 13px solid #f1b9ba;
}

header.green {
	border-right: 13px solid #a3ece2;
	border-bottom: 13px solid #a3ece2;
}

header.black {
	border-right: 13px solid #000;
	border-bottom: 13px solid #000;
}

p {
	color: #555;
	font-family: "museo", Arial;
	font-size: 14px;
	font-weight: 300;
}

h3 {
	margin: 0 0 10px;
	border-bottom: 1px solid #f1b9ba; 
	padding-bottom: 5px;
	color: #333;
	font-family: "raleway";
	font-size: 26px;
	font-weight: 100;
	font-style: normal;
	line-height: 30px;
	text-transform: uppercase;
}

.col1-ctnr {
	margin: 0 auto;
	width: 810px;
}

.col3-ctnr .col3:first-child,
.col3-ctnr .col3:last-child {
	margin: 0;
}

.col3 {
	float: left;
	margin: 0 50px;
	padding: 10px;
	width: 280px;
}

	.col3 h3,
	.col3 p {
		padding-right: 10px;
		padding-left: 10px;
	}

.project-list-ctnr {
	position: relative;
}

	.project-list-ctnr span.selector {
		position: absolute;
		top: 0;
		left: -99999px;
		display: inline-block;
		width: 200px;
		height: 3px;
		background-color: #a3ece2;
	}

ul.project-list {
	margin: 0;
	list-style: none;
}

	ul.project-list > li > span {
		float: left;
		padding: 2px 0 3px;
		font-family: "cronos-pro-display";
		font-size: 16px;
		font-weight: bold;
		line-height: 1em;
		letter-spacing: 0.8px;
	}
	
	ul.project-list ul.style-1 {
		margin-left: 55px;
	}

ul.style-1 {
	margin: 0;
	list-style: none;
}

	ul.style-1 > li {
		display: inline-block;
		margin: 0 5px 15px 0;
	}
	
		ul.style-1 > li a,
		ul.style-1 > li span {
			display: inline-block;
			padding: 2px 8px 3px;
			outline: none;
			color: #555;
			font-family: "cronos-pro-display";
			font-size: 16px;
			line-height: 1em;
			text-decoration: none;
			text-transform: uppercase;
		}
		
		ul.style-1 > li span {
			font-size: 12px;
			font-weight: bold;
			letter-spacing: 0.8px;
		}